<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.marcelo.transcix"
		versionCode="2.1"
		version   = "1.0">

		<name>AppTransCixOk</name>

		<description>
			Aplicacion Móvil de Ventas de Pasajes - Transportes Chiclayo.
		</description>

		<author href="www.facebook.com/marusero" email="marcelo.alayo@gmail.com">
			Marcelo Alayo
		</author>
		
		<preference name="phonegap-version" value="3.7.0" />
		<preference name="orientation" value="vertical" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-maxSdkVersion" value="19" />
		<preference name="android-targetSdkVersion" value="19" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		
		<feature name="http://api.phonegap.com/1.0/geolocation"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/notification"/>

		<gap:plugin name="org.apache.cordova.device-orientation"  />
		
		<gap:plugin name="org.apache.cordova.geolocation" version="0.3.6" />
		
		<icon src="img/favicon.ico" gap:platform="android" gap:density="ldpi" />
		<icon src="img/favicon.ico" gap:platform="android" gap:density="mdpi" />
		<icon src="img/favicon.ico" gap:platform="android" gap:density="hdpi" />
		<icon src="img/favicon.ico" gap:platform="android" gap:density="xhdpi" />
		<icon src="img/favicon.ico" gap:platform="android" gap:density="xxhdpi" />
		<icon src="img/favicon.ico" gap:platform="android" gap:density="xxxhdpi" />
		
		<gap:splash src="img/ave.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="img/ave.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="img/ave.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="img/ave.png" gap:platform="android" gap:density="xhdpi" />
		<gap:splash src="img/ave.png" gap:platform="android" gap:density="xxhdpi" />
		
		<access origin="org.apache.cordova.geolocation" />
		<access origin="31.170.163.241" />
		
		<gap:plugin name="com.phonegap.plugins.pushplugin" />
	</widget>